.port-dropdown-menu {
  .port-dropdown-item {
    color: #4e4e4e;

    &.active {
      color: #dba919;
    }
  }

  .port-dropdown-toggle {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
  }
}
