
// HEADER
.port-navbar.port-default {
  width: 100%;
  z-index: 15;
  padding: 40px;

  &.with-bg {
    background-color: #2C3E50;
    padding: 30px;
  }

  .port-navbar {
    &-brand {
      color: white;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
    }

    &-item {
      margin-left: 10px;
      margin-right: 10px;
    }

    &-link {
      color: white;
      font-weight: bold;
      letter-spacing: 0.8px;
      font-size: 18px;
      text-transform: uppercase;

      &.active {
      color: #dba919;
      }

      &:hover, &:focus {
        color: #dba919;
      }
    }
  }

  .port-dropdown-menu {
    .dropdown-item:active {
      background-color: #f5f5f5;
    }

    .port-dropdown-item {
      color: #4e4e4e;

      &.active {
        color: #dba919;
      }
    }

    .port-dropdown-toggle {
      color: white;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.port-navbar.transparent.is-open {
  background-color: #2C3E50;
}

.port-navbar.transparent.is-close {
  transition: 1s;
}
