
// Components
@import './components/header';

// Pages
@import './index';
@import './portfolios';
@import './portfolio-detail';
@import './blogs';
@import './about';

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', 'Helvetica' !important;
}

.clickable {
  cursor: pointer;
}

.base-page {
  padding: 150px 0;
  color: black;
  background-color: #ecedee;
  min-height: 100vh;

  .page-header-title {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 20px;
  }

}

.absolute {
  position: absolute;
}

.self-typed {
  font-size: 31px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}

.avatar-box {
  img {
    height: 50px;
    border-radius: 50%;
  }

  .subtitle {
    font-size: 14px;
  }
}
